<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Ambient Solutions</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Why Ambient? <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Our Goal</a></li>
                            <li><a href="#">Pretty vs. Functional</a></li>
                            <li><a href="#">Website vs. Web Application</a></li>
                            <li><a href="#">Other Options</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">For Your Business <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">SEO</a></li>
                            <li><a href="#">E-Commerce</a></li>
                            <li><a href="#">Responsive Design</a></li>
                            <li><a href="#">Marketing</a></li>
                            <li><a href="#">Customer Interaction</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Background</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Signup</a></li>
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
</body>
</html>
