
<div class="container">
    <div class="row">
        <div class="jumbotron text-center" style="background: transparent; color: white;">
            <h1>Welcome to Ambient</h1>
            <h3 style="color: lightgray;">A simple, personal, and cheaper solution for your online business.</h3>
            <button class="btn btn-lg btn-primary buffer-lg-top" type="button">Learn more</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="well" style="background: rgba(0, 0, 0, 0.6); border: none; color: white;">
                <p style="font-size: 15pt; color: lightgray;">Have more questions?</p>
                <p style="color: darkgray;">Want to know more about pricing and how to get your project started?</p>
                <div class="text-right">
                    <button class="btn btn-default buffer-top" type="button" style="font-weight: bold;">Contact Us</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well" style="background: rgba(0, 0, 0, 0.6); border: none; color: white;">
                <p style="font-size: 15pt; color: lightgray;">Want to join?</p>
                <p style="color: darkgray;">Already have a project with us and would like a better way of communication?</p>
                <div class="text-right">
                    <button class="btn btn-default buffer-top" type="button" style="font-weight: bold;">Signup</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well" style="background: rgba(0, 0, 0, 0.6); border: none; color: white;">
                <p style="font-size: 15pt; color: lightgray;">Already a member?</p>
                <p style="color: darkgray;">Already signed up with us and need to access your account?</p>
                <div class="text-right">
                    <button class="btn btn-default buffer-top" type="button" style="font-weight: bold;">Login</button>
                </div>
            </div>
        </div>
    </div>
</div>
